*{
  margin: 0; padding: 0; border: 0;
  box-sizing: border-box;
}
body{
  background-image: url(assets/freedom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  width:100vw;
  height:100vh;
  /*font-size: 100%;*/
}

h1{
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  padding: 3rem 2rem 1rem 2rem;
  line-height: 3rem;
  font-stretch: expanded;
}
h3{
  font-family: 'Playfair Display' , serif;
  font-size: 90%;
  font-style: italic;
  font-weight: bold;
  margin-top: 3rem;
}
.flag{
  position: fixed;
  bottom: .3rem;
  width: 12rem;
}
.flag img{
  width:2rem;
  margin: 0 .4rem;
}

@media (max-width:1366px){
  h1{
    font-size: 130%;
    padding: 3rem .5rem 1rem .5rem;
  }
}
  

@media (max-width:1024px){
  h1{
    font-size: 100%;
    padding: 3rem .5rem 1rem .5rem;
  }
}
@media (max-width:768px){
  h1{
    font-size: 90%;
    padding: 3rem .5rem 1rem .5rem;
  }
  .flag img{
  width:1.5rem;
} 
}
@media (max-width:480px){
  h1{
    font-size: 70%;
    padding: 3rem .5rem 1rem .5rem;
  }
  h3{
    font-size: 70%
  }
}
@media (max-width:380px){
  h1{
    font-size: 60%;
    padding: 3rem .5rem 1rem .5rem;
  }
  h3{
    font-size: 60%
  }
}

